/* 서브홈페이지용 타이틀 css (서브공통)*/
#sub-title h1{
    font-size: 40px;
    font-family: 'Noto Sans KR', sans-serif;
}
.active{
    font-weight: bold;
}
#sub-title {
    height: 300px;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
}
/* #sub-title h1{
    outline: 1px solid red;
} */
#lnb .container{
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 28px;
    padding-bottom: 28px;
    text-align: center;
}
#lnb ul li{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

/* about  고유영역*/
#about #sub-title{
    background-image: url(../images/sub-title-visual.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-size: cover; */
}

#section1 .container{
    padding: 50px 20px;
}
#section1 .container h1{
    margin-bottom: 30px;
}

/* section2 */
#section2 .container{
    display: flex;
    text-align: center;
    padding: 50px 20px;
    gap: 20px;
}
#section2 .container .item{
    width: calc((100% - 40px) / 3);  
}
#section2 .container .item img{
    width: 100%;
    height: 280px;
    margin-bottom: 20px;
}
#section2 .container .item h2{
    font-size: 22px;
    margin-bottom: 10px;
}
#section2 .container .item p{
    text-align: left;
    font-size: 15px;
   
}